{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s Question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="qcontent">Your Question</label>
        {{input value=qcontent id="qcontent"}}
      </div>

      <div class="form-group">
        <label for="notes">Any Additional Notes You Might Want To Add?</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'update' question}}>Post</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
